body{
  background: white;
  color: white; 

}

.h1{
  color:springgreen;
}

.h2{
  color:springgreen;
}

.h3{
  color:springgreen;
}

.h4{
  color:springgreen;
}

.h5{
  color:springgreen;
}

.p{
  color:grey;
}

