body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'poppins', Sans-Serif;
  box-sizing: border-box;
  background-color: var(--bg-dark);
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-404 {
  width: 50%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid var(--border);
  border-top: 1px solid var(--highlight);
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
  box-shadow: 0 4px 4px var(--shadow);
}

.header {
  margin-bottom: 0;
  font-size: clamp(2rem, calc(20vw + 1rem), 8rem);
  color: var(--text);
  text-align: center;
}

.errortext {
  font-family: Monospace, Sans-Serif;
  color: var(--text-muted);
  font-size: clamp(.25rem, calc(1vw + 1rem), 1.5rem);
}

.errorurl {
  width: 100%;
  font-family: Monospace, Sans-Serif;
  color: var(--text-muted);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0;
  text-decoration: underline;
  text-decoration-color: var(--text-muted);
}

a {
  text-decoration: none;
}

.btn-404 {
  width: 100px;
  height: 50px;
  display: inline-flex;
  background-color: var(--bg-light);
  color: var(--text);
  flex-direction: row;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  gap: .5em;
  transition: all 500ms;
}

.btn-404 i {
  align-self: center;
  font-size: 1em;
}

.btn-404:hover {
  transform: scale(.9);
}