<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  </link>
  <link rel="website icon" href="assets/home/logo.png">
  <link rel="stylesheet" href="/stylings/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="image-wrapper">
      <img src="/assets/home/logo.png" class="logoimg">
      <h1 class="MainHeader">Hexion</h1>
      <div class="addiv">
        <p class="adp">Ad space here</p>
      </div>
      <button type="submit" class="starting">Start Coding!</button>
      <p class="topp">You make it we <span class="fixtopp">fix</span> it.</p>
      <img src="/assets/home/background.png" class="mainimg">
    </div>
    <div class="features">
      <div class="feature1">
        <i class='bx bx-code'></i>
        <h2>Encoding and Decoding</h2>
        <p>Encoding changes the text entered in the text box to the binary form that means only 1 and 0, Decoding changes the binary(encoded) text into a readable text or the original text</p>
      </div>
      <div class="feature2" id="f2">
        <i class='bx bx-lock'></i>
        <h2>Encrypting and Decrypting</h2>
        <p>Encrypting encrypt your data to make it more secure it can be used to hide important stuff like addresses etc, Decrypting it turns the encrypted text into readable or original text</p>
      </div>
      <div class="feature3" id="f3">
        <i class='bx bx-error'></i>
        <h2>Error Debugging</h2>
        <p>Error Debugging helps you to debug or find out errors in you're code sometimes the hardest work in coding is finding the actual error that's causing it Error Debugging makes you're life easy by doing it for you</p>
      </div>
      <div class="feature4" id="f4">
        <i class='bx bx-palette'></i>
        <h2>Color Generator</h2>
        <p>This let's you generate colors for you like if you want to get a hex color but you're editor doesn't have a color generator use this to get the hex codes</p>
      </div>
    </div>
    <section id="faq">
      <div class="faq-heading">
        <h3>FAQS</h3>
        <p>FAQS are here to clear you're doubts about our website/service so that you can use all of our features without any worrys if you're doubts are not cleared here you can contact cus<br /> Contact -? </p>
      </div>
      <div class="faq-content">
        <div class="faq-box-container">
          <div class="faq-box">
            <div class="faq-box-question">
              <h4>What features does you're website have ?</h4>
              <span class="faq-box-icon"></span>
            </div>
            <div class="faq-box-answer">
              <p>Our website has alot of features to help you make you're codding life easy let me tell you, decoding, encoding, encrypting, Decrypting, error Debugging all of these features will help you alot enjoy you're codding</p>
            </div>
          </div>
        </div>
        <div class="faq-box-container">
          <div class="faq-box">
            <div class="faq-box-question">
              <h4>Is you're service completely free ?</h4>
              <span class="faq-box-icon"></span>
            </div>
            <div class="faq-box-answer">
              <p>Yes our service is completely free we will never force you to pay money to use our tools the only source of income for us is ads</p>
            </div>
          </div>
        </div>
        <div class="faq-box-container">
          <div class="faq-box">
            <div class="faq-box-question">
              <h4>How to upload my code file ?</h4>
              <span class="faq-box-icon"></span>
            </div>
            <div class="faq-box-answer">
              <p>Uploading a code file is easy only work to do is just click on the upload file button and it should redirect you to you're file manage then go to you're file and click on it this should start uploading the file then you can use our tools</p>
            </div>
          </div>
        </div>
        <div class="faq-box-container">
        <div class="faq-box">
          <div class="faq-box-question">
            <h4>How to use the Error Debugging feature ?</h4>
            <span class="faq-box-icon"></span>
          </div>
          <div class="faq-box-answer">
            <p>To use Error Debugging in you're code file you need to upload the code file then click find error button then wait for 5-10s it should display all the lines where an error occurs then you can fix all the errors easily</p>
          </div>
        </div>
      </div>
  </div>
  <div class="faq-img">
    <img src="" />
  </div>
  </section>
  </div>
  <script src="/misc/faq.js">
  </script>
</body>

</html>