<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="website icon" href="assets/home/logo.png">
  <link rel="stylesheet" href="/stylings/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="image-wrapper">
      <img src="/assets/home/logo.png" class="logoimg">
      <h1 class="MainHeader">Hexion</h1>
      <div class="addiv">
        <p class="adp">Ad space here</p>
      </div>
      <button type="submit" class="starting">Start Decoding!</button>
      <p class="topp">You make it we <tag class="fixtopp">fix</tag> it.</p>
      <img src="/assets/home/background.png" class="mainimg">
    </div>
    <div class="feature1"></div>
  </div>
</body>

</html>