<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  </link>
  <link rel="website icon" href="assets/home/logo.png">
  <link rel="stylesheet" href="/stylings/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="image-wrapper">
      <img src="/assets/home/logo.png" class="logoimg">
      <h1 class="MainHeader">Hexion</h1>
      <div class="addiv">
        <p class="adp">Ad space here</p>
      </div>
      <button type="submit" class="starting">Start Coding!</button>
      <p class="topp">You make it we <span class="fixtopp">fix</span> it.</p>
      <img src="/assets/home/background.png" class="mainimg">
    </div>
    <div class="features">
      <div class="feature1">
        <i class='bx bx-code'></i>
        <h2>Encoding and Decoding</h2>
        <p>Encoding changes the text entered in the text box to the binary form that means only 1 and 0, Decoding changes the binary(encoded) text into a readable text or the original text</p>
      </div>
      <div class="feature2" id="f2">
        <i class='bx bx-lock'></i>
        <h2>Encrypting and Decrypting</h2>
        <p>Encrypting encrypt your data to make it more secure it can be used to hide important stuff like addresses etc, Decrypting it turns the encrypted text into readable or original text</p>
      </div>
      <div class="feature3" id="f3">
        <i class='bx bx-error' ></i>
        <h2>Error Debugging</h2>
        <p>Error Debugging helps you to debug or find out errors in you're code sometimes the hardest work in coding is finding the actual error that's causing it Error Debugging makes you're life easy by doing it for you</p>
      </div> 
    </div>
  </div>
</body>

</html>