.pageH2 {
  margin: 20px;
  background: linear-gradient(to right, transparent 5%, springgreen, transparent 95%);
}

.header-tag {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 2px;
  background-color: white;
  font-size: .6em;
  color: springgreen;
  border-radius: 3px;
}

.dashboard {
  background-color: var(--bg-light);
  color: var(--primary) !important;
}

.toolboxes-container {
  padding: 2em;
}

.toolboxes-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.toolboxes-container .tool {
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
  box-shadow: 0 4px 4px var(--shadow);
  border: 1px solid var(--border);
  border-top: 1px solid var(--highlight);
  border-radius: 10px;
  align-items: center;
  display: flex;
  padding: 1em;
  flex-direction: column;
  position: relative;
}

.toolboxes-container .tool i {
  font-size: 2em;
}

.toolboxes-container .tool h3 {
  font-size: 2em;
  padding-right: 25px;
  z-index: 2;
}

.toolboxes-container .tool a {
  z-index: 2;
  display: flex;
  gap: .5em;
  text-decoration: none;
  align-items: center;
}

.toolboxes-container .tool button {
  border: none;
  color: white;
  border-radius: 25px;
  width: 190px;
  height: 40px;
  cursor: pointer;
  transition: background-color .8s ease, color .8s ease, border .8s ease, transform .2s ease;
  user-select: none;
  font-size: 1em;
  overflow: hidden;
}

.tool button:hover {
  font-weight: bold;
  background: transparent !important;
  transform: scale(.9);
}

.tool:nth-child(1) {
  color: springgreen;
}

.tool:nth-child(1) button {
  background-color: springgreen;
}

.tool:nth-child(1) button:hover {
  color: springgreen;
}

.tool:nth-child(2) {
  color: lawngreen;
}

.tool:nth-child(2) button {
  background: lawngreen;
}

.tool:nth-child(2) button:hover {
  color: lawngreen;
}

.tool:nth-child(3) {
  color: orange;
}

.tool:nth-child(3) button {
  background: orange;
}

.tool:nth-child(3) button:hover {
  color: orange;
}

.tool:nth-child(4) {
  color: orangered;
}

.tool:nth-child(4) button {
  background: orangered;
}

.tool:nth-child(4) button:hover {
  color: orangered;
}

.tool:nth-child(5) {
  color: indianred;
}

.tool:nth-child(5) button {
  background: indianred;
}

.tool:nth-child(5) button:hover {
  color: indianred;
}

.tool:nth-child(6) {
  color: purple;
}

.tool:nth-child(6) button {
  background: purple;
}

.tool:nth-child(6) button:hover {
  color: purple;
}

.toolboxes-container .tool button i {
  font-size: 1em;
  transition: transform .5s ease;
}

.toolboxes-container .tool button:hover .button-icon {
  transform: rotate(-45deg);
}

.button-icon {
  transition: all .5s;
}

.button-text.active {
  display: none;
}

.button-icon.active {
  font-size: 1.5em;
}

.toolboxes-container .tool::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 67px;
  width: 67px;
  background-color: var(--bg-light);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 50%;
}

.toolboxes-container .tool::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 58.4px;
  width: 58.4px;
  background-color: var(--bg-light);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50%;
}

.tool-header {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-bottom: 2em;
}