* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'poppins', Sans-Serif;
  /* Prevents any scrolling issues */
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  height: 100vh;
  /* Ensures the container takes the full height of the viewport */
}

.pageH2 {
  margin: 20px;
  background: linear-gradient(to right, transparent 5%, springgreen, transparent 95%);
}

.header-tag {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 2px;
  background-color: white;
  font-size: .6em;
  color: springgreen;
  border-radius: 3px;
}

.navigate ul li .Dspecial {
  background-color: white;
  color: springgreen;
}

.toolboxes-container {
  padding: 2em;
}

.toolboxes-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.toolboxes-container .tool {
  background-color: whitesmoke;
  box-shadow: 14px 14px 60px rgba(59, 42, 130, 0, .06);
  border-radius: 10px;
  align-items: center;
  display: flex;
  padding: 1em;
  flex-direction: column;
  position: relative;
}

.toolboxes-container .tool i {
  font-size: 2em;
}

.toolboxes-container .tool h3 {
  font-size: 2em;
  display: flex;
  margin: 0 !important;
  padding-right: 25px;
  z-index: 2;
}

.toolboxes-container .tool a {
  z-index: 2;
}

.toolboxes-container .tool button {
  border: none;
  color: white;
  border-radius: 25px;
  width: 190px;
  height: 40px;
  cursor: pointer;
  transition: background-color .8s ease, color .8s ease, border .8s ease, transform .2s ease;
  user-select: none;
  margin-top: 30px;
  font-size: 1em;
  overflow: hidden;
}

.tool button:hover {
  font-weight: bold;
  background-color: whitesmoke !important;
}

.tool1 {
  color: springgreen;
  box-shadow: 0px 0px 10px 3px springgreen;
}

.tool1 button {
  background-color: springgreen;
}

.tool1 button:hover {
  transform: scale(.8);
  color: springgreen;
}

.tool2 {
  box-shadow: 0px 0px 10px 3px lawngreen;
  color: lawngreen;
}

.tool2 button {
  background: lawngreen;
}

.tool2 button:hover {
  transform: scale(.8);
  color: lawngreen;
}

.tool3 {
  box-shadow: 0px 0px 10px 3px orange;
  color: orange;
}

.tool3 button {
  background: orange;
}

.tool3 button:hover {
  transform: scale(.8);
  color: orange;
}

.tool4 {
  box-shadow: 0px 0px 10px 3px orangered;
  color: orangered;
}

.tool4 button {
  background: orangered;
}

.tool4 button:hover {
  transform: scale(.8);
  color: orangered;
}

.tool5 {
  box-shadow: 0px 0px 10px 3px indianred;
  color: indianred;
}

.tool5 button {
  margin-top: 5px !important;
  margin-left: 15px !important;
  background: indianred;
}

.tool5 button:hover {
  transform: scale(.8);
  color: indianred;
}

.tool6 {
  box-shadow: 0px 0px 10px 3px purple;
  color: purple;
}

.tool6 button {
  margin-top: 5px !important;
  margin-left: 15px !important;
  background: purple;
}

.tool6 button:hover {
  transform: scale(.8);
  color: purple;
}

.toolboxes-container .tool button i {
  font-size: 1em;
  margin-right: 8px;
  transition: transform .5s ease;
}

.toolboxes-container .tool button:hover {
  background-color: white;
}

.toolboxes-container .tool button:hover .button-icon {
  transform: rotate(-45deg);
}

#button-icon {
  transition: all .5s;
}

#button-text.active {
  display: none;
}

#button-icon.active {
  font-size: 1.5em;
}

.toolboxes-container .tool .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 67px;
  width: 67px;
  background-color: #E9E9E9;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 50%;
}

.toolboxes-container .tool .top-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 58.4px;
  width: 58.4px;
  background-color: #E9E9E9;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50%;
}

.i-h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent !important;
}