body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'poppins', Sans-Serif;
  /* Prevents any scrolling issues */
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  height: 100vh;
  /* Ensures the container takes the full height of the viewport */
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.8s ease-out, visibility 0.8s ease-out;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 165px;
  transform-origin: center center;
  width: 165px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke: white;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.logo-hexion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid black;
}

.brandname {
  color: springgreen;
}

.navigate ul li .DOspecial {
  background: white;
  color: springgreen;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: mediumspringgreen;
  color: white;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: visible;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 100;
}

li:hover .tooltip {
  display: unset;
  opacity: 1;
  visibility: visible;
}

.addiv {
  position: relative;
  height: 60px;
  width: 90%;
  background: transparent;
  place-content: center;
  left: 50%;
  margin-top: 25px;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.addiv p {
  text-align: center;
}

.ad4 {
  position: relative;
  z-index: 1;
  margin-top: 130px;
  margin-bottom: 0;
}

.pageH2 {
  background: linear-gradient(to right, transparent 5%, springgreen, transparent 95%);
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.donation-div {
  display: flex;
  background: linear-gradient(to bottom, #f5f5ff 75%, transparent);
  border-top-right-radius: 200px;
  flex-direction: column;
  padding: 60px;
  color: black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  user-select: none;
  position: relative;
}

.donation-menu-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out, background 0.6s ease-in-out, backdrop-filter 0.6s ease-in-out;
  z-index: 9998;
}

/* The popup itself */
.donation-menu {
  background: transparent;
  padding: 20px;
  display: flex;
  width: 270px;
  height: 450px;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.5s ease-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  flex-direction: column;
  isolation: isolate;
  color: white;
  border-top-right-radius: 0 !important;
  background-color: whitesmoke;
}

.donation-menu h2 {
  font-size: 2em;
  color: black;
  text-align: center;
  margin-top: 5px;
}

.donation-menu .input {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.input input {
  width: 80%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 5px 20px 5px 20px;
  color: black;
}

.input input::placeholder {
  color: black;
}

.input i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  justify-self: right;
  top: 0;
  right: 0;
  user-select: none;
  cursor: pointer;
  font-size: 1.5em;
}

/* When popup is active */
.donation-menu-div.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(5px);
  /* Dark overlay */
}

.donation-menu.active {
  transform: scale(1);
  /* Animates from small to full size */
}

.donation-btn {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: 100px;
  color: white;
  background: orange;
  font-weight: 500;
  transition: all 0.5s;
  margin-top: 30px;
  transition: all 0.5s;
}

.donation-btn:hover {
  transform: scale(0.9);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.donation-div p {
  margin: 0;
}

.donation-div h3 {
  text-decoration: underline;
  font-size: 1em;
}

.donation-btn:hover {
  background: white;
  color: orange;
  border: 1px solid orange;
}

@media (max-width: 800px) {
  .circular {
    width: 90px;
    height: 90px;
  }
}