body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /*overflow-y: scroll;*/
  font-family: 'poppins', Sans-Serif;
  color: var(--blackthemefc);
  /* Prevents any scrolling issues */
}
.MainHeader {
  color: springgreen;
  font-size: 3em;
  text-align: center;
}
.addiv {
  height: 60px;
  width: 90%;
  background-color: grey;
  justify-self: center;
  align-content: center
}
.adp {
  text-align: center;
}