.page-header {
  background: linear-gradient(to right, transparent 0%, deepskyblue 15%, deepskyblue 85%, transparent 100%);
}

.header-tag {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 2px;
  background-color: white;
  font-size: .6em;
  color: deepskyblue;
  border-radius: 3px;
}

.tools {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.back-container {
  display: flex;
  padding: .3em 1em .3em 1em;
  width: max-content;
  margin-left: calc(50% - 50vw);
  flex-direction: row;
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-left: none;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  font-size: .65em;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  user-select: none;
  text-decoration: none;
  transition: all .3s;
}

.back-container i {
  font-size: 1.8em;
}

.back-container:hover {
  transform: translateX(-6px);
}

.input-container {
  border-radius: 2em;
  padding: 15px;
  border: 1px solid var(--border);
  color: var(--text);
  background-color: var(--bg);
  box-shadow: 0 2px 2px var(--shadow);
  outline-color: transparent;
  position: relative;
  margin-bottom: .7em;
}

.input-container::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.double-dropdown-container {
  display: flex;
  flex-direction: row;
  border-radius: .2em;
  border-top: .5px solid var(--highlight);
  overflow: hidden;
}

.double-dropdown-container .dropdown-container {
  flex: 1;
  border-radius: 0 !important;
  border: none;
  margin: 0 !important;
}

.double-dropdown-container .dropdown-container:first-child {
  border-right: 1px solid var(--border) !important;
}

.combobox-container {
  background-color: var(--bg);
  border-top: .5px solid var(--highlight);
  box-shadow: 0 2px 2px var(--shadow);
  padding: 1em;
  border-radius: .2em;
  margin: .7em 0;
  transition: all ease 500ms;
  overflow: hidden;
}

.search-container {
  display: flex;
  flex: 1;
  min-width: 0;
  position: relative;
}

.combobox {
  display: flex;
  min-width: 0;
  flex: 1;
  padding-right: 2.2em;
  outline: none;
  border: none;
  color: var(--text);
  background-color: transparent;
}

.combobox::-webkit-search-cancel-button {
  display: none;
}

.combobox::placeholder {
  display: flex;
  user-select: none;
  align-items: center;
  font-weight: bold;
  color: var(--text-muted);
  font-size: 1em;
  padding-left: .2em;
}

.clear-search-button {
  display: block;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 50%;
  padding: .1em;
  font-size: 1em;
  color: var(--text);
  transition: all 300ms ease-in-out;
}

.clear-search-button:hover {
  background-color: var(--bg-light);
}

.combobox-container .select-item {
  visibility: hidden;
  opacity: 0;
}

.combobox-container .select-item.visible {
  /* Inherit the visibility of the parent so it isnt visible when the combobox is closed */
  visibility: inherit;
  opacity: 1;
}

.search-alert {
  font-size: .75em;
  padding: .5em;
  font-style: italic;
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--text-muted);
}

.combobox-container:focus-within .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.combobox-container:focus-within .dropdown-icon {
  transform: rotate(180deg);
}

.combobox-container:not(:focus-within) .clear-search-button {
  display: none !important;
}

.option-container {
  display: flex;
  margin-top: 1.7em;
  gap: .5em;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 35px;
  height: 20px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--bg);
  box-shadow: 4px 4px var(--bg);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-light);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border: 2px solid var(--bg);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--secondary);
  box-shadow: 0 3px 0 var(--bg);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--primary);
}

.toggle:checked + .slider:before {
  transform: translateX(20px);
}

.option-name {
  color: var(--text);
}

.flexbox-results {
  display: none;
  margin-top: 2em;
  position: relative;
}

.flexbox-results i {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text);
  font-size: 1em;
  z-index: 2;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: all .5s;
  margin: .3em;
}

.flexbox-results i:hover {
  background: var(--bg-light);
}

.results {
  position: relative;
  resize: none;
  flex: 1;
  min-height: 300px;
  padding: 15px;
  box-shadow: 0px 4px 6px var(--shadow);
  color: var(--text);
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
  border: none;
  border-radius: 15px;
  /* Add horizontal scrolling for an more readable ascii art*/
  white-space: pre;
  overflow: auto;
}

.results::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.results-btn-div {
  display: flex;
  justify-content: center;
}

.results-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: deepskyblue;
  box-shadow: 0 2px 2px var(--shadow);
  color: white;
  font-size: 1em;
  font-weight: bold;
  outline-color: transparent;
  margin: 15px;
  cursor: pointer;
  transition: all .3s;
}

.results-button:hover {
  transform: scale(.9);
}