.tools {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.input-container {
  margin-bottom: .3em;
}

.double-dropdown-container {
  display: flex;
  flex-direction: row;
  border-radius: .2em;
  border-top: .5px solid var(--highlight);
  overflow: hidden;
}

.double-dropdown-container .dropdown-container {
  flex: 1;
  border-radius: 0 !important;
  border: none;
  margin: 0 !important;
}

.double-dropdown-container .dropdown-container:first-child {
  border-right: 1px solid var(--border) !important;
}

.combobox-container {
  background-color: var(--bg);
  border-top: .5px solid var(--highlight);
  box-shadow: 0 2px 2px var(--shadow);
  padding: 1em;
  border-radius: .2em;
  margin: .7em 0;
  transition: all ease 500ms;
  overflow: hidden;
}

.search-container {
  display: flex;
  flex: 1;
  min-width: 0;
  position: relative;
}

.combobox {
  display: flex;
  min-width: 0;
  flex: 1;
  padding-right: 2.2em;
  outline: none;
  border: none;
  color: var(--text);
  background-color: transparent;
}

.combobox::-webkit-search-cancel-button {
  display: none;
}

.combobox::placeholder {
  display: flex;
  user-select: none;
  align-items: center;
  font-weight: bold;
  color: var(--text-muted);
  font-size: 1em;
  padding-left: .2em;
}

.clear-search-button {
  display: block;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 50%;
  padding: .1em;
  font-size: 1em;
  color: var(--text);
  transition: all 300ms ease-in-out;
}

.clear-search-button:hover {
  background-color: var(--hover);
}

.combobox-container .dropdown-item {
  visibility: hidden;
  opacity: 0;
}

.combobox-container .dropdown-item.visible {
  /* Inherit the visibility of the parent so it isnt visible when the combobox is closed */
  visibility: inherit;
  opacity: 1;
}

.search-alert {
  font-size: .75em;
  padding: .5em;
  font-style: italic;
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--text-muted);
}

.combobox-container:focus-within .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.combobox-container:focus-within .dropdown-icon {
  transform: rotate(180deg);
}

.combobox-container:not(:focus-within) .clear-search-button {
  display: none !important;
}

.option-container {
  display: flex;
  margin-top: 1.7em;
  gap: .5em;
}

.results-button {
  background-color: deepskyblue;
}