.tools {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.input-container {
  border-radius: 2em;
  padding: 15px;
  border: 1px solid var(--border);
  color: var(--text);
  background-color: var(--bg);
  box-shadow: 0 2px 2px var(--shadow);
  outline-color: transparent;
  position: relative;
}

.input-container::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.color-showcase {
  display: none;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 1em;
  background-color: transparent;
  padding: 1em;
  margin: 1em 0;
  border: .5px solid white;
}

.color-name-container {
  display: flex;
  min-width: 0;
  flex-direction: row;
  align-items: center;
  gap: .3em;
  border-radius: 2em;
  padding: .2em .5em;
  background-color: white;
  color: black;
}

.color-name-container .color-name {
  font-size: .85em;
  font-family: Monospace, monospace;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.color-name-container i {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.results-btn-div {
  display: flex;
  justify-content: center;
}

.results-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: floralwhite;
  box-shadow: 0 2px 2px var(--shadow);
  color: black;
  font-size: 1em;
  font-weight: bold;
  outline-color: transparent;
  margin: 15px;
  cursor: pointer;
  transition: all .3s;
}

.results-button:hover {
  transform: scale(.9);
}