.page-header {
  color: black !important;
  background: linear-gradient(to right, transparent 0%, floralwhite 15%, floralwhite 85%, transparent 100%);
}

.header-tag {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 2px;
  background-color: black;
  font-size: .6em;
  color: floralwhite;
  border-radius: 3px;
}

.tools {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.back-container {
  display: flex;
  padding: .3em 1em .3em 1em;
  width: max-content;
  margin-left: calc(50% - 50vw);
  flex-direction: row;
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-left: none;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  font-size: .65em;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  user-select: none;
  text-decoration: none;
  transition: all .3s;
}

.back-container i {
  font-size: 1.8em;
}

.back-container:hover {
  transform: translateX(-6px);
}

.input-container {
  border-radius: 2em;
  padding: 15px;
  border: 1px solid var(--border);
  color: var(--text);
  background-color: var(--bg);
  box-shadow: 0 2px 2px var(--shadow);
  outline-color: transparent;
  position: relative;
}

.input-container::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.color-showcase {
  display: none;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 1em;
  background-color: transparent;
  padding: 1em;
  margin: 1em 0;
  border: .5px solid white;
}

.color-name-container {
  display: flex;
  min-width: 0;
  flex-direction: row;
  align-items: center;
  gap: .3em;
  border-radius: 2em;
  padding: .2em .5em;
  background-color: white;
  color: black;
}

.color-name-container .color-name {
  font-size: .85em;
  font-family: Monospace, monospace;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.color-name-container i {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.results-btn-div {
  display: flex;
  justify-content: center;
}

.results-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: floralwhite;
  box-shadow: 0 2px 2px var(--shadow);
  color: black;
  font-size: 1em;
  font-weight: bold;
  outline-color: transparent;
  margin: 15px;
  cursor: pointer;
  transition: all .3s;
}

.results-button:hover {
  transform: scale(.9);
}