.tools {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.input-container {
  border-radius: 2em;
  padding: 15px;
  border: 1px solid var(--border);
  color: var(--text);
  background-color: var(--bg);
  box-shadow: 0 2px 2px var(--shadow);
  outline-color: transparent;
  position: relative;
}

.input-container::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.flexbox-results {
  display: none;
  margin-top: 2em;
  position: relative;
}

.results {
  position: relative;
  resize: none;
  min-height: 200px;
  padding: 15px;
  box-shadow: 0px 4px 6px var(--shadow);
  color: var(--text);
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
  border: none;
  border-radius: 15px;
}

.results::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.results-button {
  background-color: orangered;
}