.disable {
  opacity: .5;
  pointer-events: none;
}

.buttonWrapper {
  position: relative;
  display: flex;
  margin: .5em 0 1em 0;
  border: 1.6px solid indianred;
  background-color: var(--bg);
  box-shadow: 0 2px 2px var(--shadow);
  border-radius: 2em;
  overflow: hidden !important;
}

.buttonIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: indianred;
  z-index: 1;
  margin: 0;
  transition: left .2s ease;
  overflow: hidden;
}

.dualbtn {
  font-weight: bold;
  width: 50%;
  padding: .8em;
  border-radius: 8px;
  border: none;
  outline-color: transparent;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  outline-color: transparent;
  color: var(--text);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 300ms;
}

.dualbtn:not(.selected):hover {
  background-color: var(--hover);
}

.dualbtn.selected {
  color: white;
}

.switcherContainer {
  display: flex;
  margin-bottom: .5em;
  justify-content: center;
  flex-direction: row;
}

.uploadWrapper {
  position: absolute;
  left: -100vw;
  visibility: hidden;
  transition: all ease .3s;
}

.uploadWrapper.selected {
  position: relative;
  left: 0;
  visibility: visible;
}

.file-upload-input {
  display: none;
}

.file-upload-button {
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  border-radius: 1em;
  background-color: var(--bg);
  border: 2px dashed var(--text-muted);
  font-weight: bold;
  color: var(--text-muted);
  cursor: pointer;
  transition: all ease .3s;
}

.file-upload-button.drag-over {
  transform: scale(1.1);
  border: 2px dashed deepskyblue;
  color: deepskyblue;
}

.file-name {
  width: 100%;
  font-family: Monospace, Sans-Serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.code-input-container {
  visibility: hidden;
  flex: 1;
  right: -100vw;
  resize: none;
  height: 150px;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid var(--border);
  color: var(--text);
  background-color: var(--bg);
  box-shadow: 0 2px 2px var(--shadow);
  outline-color: transparent;
  position: absolute;
  transition: all ease .3s;
}

.code-input-container.selected {
  position: relative;
  right: 0;
  visibility: visible;
}

.code-input-container::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.results-container {
  display: none;
  flex: 1;
  margin-top: 2em;
  flex-direction: column;
}

.results-div {
  position: relative;
  display: inline-block;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg);
  padding: 50px 1em 25px 1em;
  border-radius: 15px 15px 0 0;
  border-bottom: none;
}

.ball-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8px;
  margin-left: 35px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

.redball {
  background-color: red;
}

.yellowball {
  background-color: #FFF500;
}

.greenball {
  background-color: green;
}

.results {
  border: none;
  border-radius: 15px;
}

.textarea-div {
  display: flex;
  background: var(--bg);
  flex-grow: 1;
  height: 314px;
}

.textarea-div>textarea {
  border: none;
  margin: 0;
  background: var(--bg);
  resize: none;
  outline-color: transparent;
  font-size: 13px;
  line-height: 1.5em;
}

.codePH {
  flex-grow: 1;
  color: var(--text);
  white-space: nowrap;
  resize: none;
  background-color: var(--bg);
  display: flex;
  position: relative;
  justify-self: center;
  outline: none;
}

.numbersPH {
  width: 20px;
  overflow: hidden;
  color: var(--text-muted);
}

.error-switch {
  position: relative;
  height: 50px;
  display: flex;
  border-radius: 0 0 1em 1em;
  background-color: var(--bg-light);
  border: 1px solid var(--border);
  border-top: none;
  color: var(--text);
  font-weight: bold;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 2px var(--shadow);
}

.arrows {
  font-weight: bold;
  font-size: 1.4em;
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline-color: transparent;
  margin: .5em;
  transition: all .5s;
  border-radius: 50%;
}

.arrows.disabled {
  opacity: .5;
  pointer-events: none;
}

.arrow1 {
  left: 0;
}

.arrow2 {
  right: 0;
}

.arrows:hover {
  background-color: var(--text-muted);
}

.results-button {
  background-color: indianred;
}