.tools {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.input-container {
  border: none !important;
  border-radius: 0 !important;
}

.uploader-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.file-upload-input {
  display: none;
}

.file-upload-button {
  max-width: 70vw;
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  border-radius: 1em;
  background-color: var(--bg);
  border: 2px dashed var(--text-muted);
  font-weight: bold;
  color: var(--text-muted);
  cursor: pointer;
  transition: all ease .3s;
}

.file-upload-button.drag-over {
  transform: scale(1.1);
  border: 2px dashed deepskyblue;
  color: deepskyblue;
}

.file-name {
  width: 100%;
  font-family: Monospace, Sans-Serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image-showcase-container {
  display: none;
  flex-direction: column;
  gap: 1em;
  margin-top: .5em;
  padding: 1em;
  border-radius: .5em;
  background-color: var(--bg);
}

.image-showcase-container img {
  max-width: 100%;
  max-height: 300px;
  outline: none;
}

.image-info-container {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1em;
  flex-direction: row;
  color: var(--text);
}

.image-info-container i {
  flex-shrink: 0;
  font-size: 2.2em;
}

.image-title-container {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  gap: .5em;
  color: var(--text);
}

.image-title-container h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: space-between;
  gap: .3em .2em;
  color: var(--text-muted);
}

.image-info-box {
  display: flex;
  flex-direction: row;
  gap: .3em;
  font-family: Arial Sans-Serif;
  font-size: .65em;
}

.image-info-box p {
  font-weight: bold;
}

.range-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin: 1em 0;
  font-size: .75em;
  font-weight: bold;
  color: var(--text);
}

.range-progress {
  padding: .3em;
  font-size: .8em;
  border-radius: .3em;
  background-color: var(--bg-light);
  color: var(--text-muted);
}

.ranges {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg);
  outline: none;
  height: 10px;
}

.ranges::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: var(--secondary);
}

.ranges::-moz-range-thumb {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: var(--secondary);
}

.ranges::-moz-range-progress {
  background-color: var(--bg-light);
}

.image-editor-container {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  gap: .5em;
}

.input-label-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
  max-width: 100%;
  color: var(--text);
}

.input-label-container label {
  font-size: .75em;
  font-weight: bold;
}

.input-container {
  padding: 1em;
  overflow-x: auto;
  background: transparent;
  color: var(--text);
  border: none;
}

.input-container::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.double-input-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 2.5em minmax(0, 1fr);
  box-shadow: 0 2px 2px var(--shadow);
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg);
  border-radius: 2em;
  border: 1px solid var(--border);
}

.double-input-container span {
  padding: 1em;
  font-weight: 1000;
  align-content: center;
  text-align: center;
  font-size: .8em;
  background: linear-gradient(to right, transparent 0%, var(--bg-dark) 15%, var(--bg-dark) 85%, transparent 100%);
}

.crop-menu-button {
  padding: .65em 1em;
  color: var(--text);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: .5em;
  box-shadow: 0 2px 2px var(--shadow);
  background-color: var(--bg);
  transition: all 300ms ease-in-out;
}

.crop-menu-button:hover {
  transform: scale(.95);
}

.cropper-menu-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 11;
  background-color: hsla(0, 0%, 0%, 0);
  align-content: center;
  transition: all 300ms ease-in-out;
}

.cropper-menu-container.active {
  visibility: visible;
  background-color: hsla(0, 0%, 0%, 0.30);
}

.cropper-menu {
  position: relative;
  display: flex;
  visibility: hidden;
  max-height: 90%;
  transform: scale(.95);
  opacity: 0;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  width: min(32rem, 85%);
  padding: 1em;
  border-radius: .5em;
  background-color: var(--bg-light);
  color: white;
  box-shadow: 0 6px 6px var(--shadow);
  transition: all 300ms ease-in-out;
}

.cropper-menu.active {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.cropper-close-button {
  position: absolute;
  top: -45px;
  right: 0;
  border-radius: .15em;
  cursor: pointer;
  background-color: var(--bg-light);
  font-size: 1.5em;
  color: var(--text);
  z-index: 11;
  padding: .2em;
}

.cropper-menu h3 {
  font-size: 1em;
  margin-bottom: 1em;
}

.loader-fallback {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
}

.loader-fallback i {
  font-size: 2em;
  color: var(--text-muted);
  animation: spin 1.5s linear infinite;
}

.no-content-fallback {
  display: none;
  flex-direction: column;
  gap: 1em;
  border-radius: .5em;
  border: 1px dashed var(--border);
  padding: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14rem;
}

.no-content-fallback i {
  font-size: 2.5em;
  padding: .2em;
  color: var(--text-muted);
  background-color: hsla(0, 0%, 0%, 0.30);
  border-radius: 50%;
}

.no-content-fallback h4 {
  font-size: .9em;
  color: var(--text);
}

.no-content-fallback p {
  font-size: .8em;
  text-align: center;
  color: var(--text-muted);
}

.cropper-menu-content {
  display: none;
  width: 100%;
  overflow-y: auto;
  flex-direction: column;
  gap: .5em;
}

.image-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.image-container img {
  display: block;
  max-width: 100%;
  outline: none;
}

.cropper-point {
  background-color: var(--primary) !important;
  border-radius: 50%;
}

.cropper-line {
  background-color: var(--secondary) !important;
}

.image-metrics-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: .5em;
  border-radius: .5em;
  overflow: hidden;
}

.image-metric {
  display: flex;
  min-width: 0;
  gap: .3em;
  color: var(--text-muted);
  background-color: var(--bg);
  padding: .5em;
  justify-content: center;
  font-size: .75em;
}

.image-metric span {
  font-weight: bold;
}

.image-metric p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clear-button {
  color: var(--text);
  padding: .5em;
  border-radius: 2em;
  margin-top: .5em;
  background-color: var(--bg);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.clear-button:hover {
  transform: scale(.95);
}

.image-previewer-container {
  display: none;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  background-color: var(--bg);
  border-top: .5px solid var(--highlight);
  color: var(--text);
  padding: 1em;
  border-radius: .2em;
}

.image-previewer-container h5 {
  font-size: .75em;
}

.image-previewer-container img {
  display: block;
  border-radius: .2em;
  outline: none;
  max-width: 100%;
}

.download-button {
  display: none;
  flex-direction: row;
  text-decoration: none;
  align-self: center;
  border-radius: 2em;
  padding: .75em 1.5em;
  margin-top: 2em;
  font-size: .9em;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  color: var(--text);
  border: none;
  gap: .5em;
  background-color: deepskyblue;
  width: fit-content;
  max-width: 75%;
  transition: all .3s ease-in-out
}

.download-button:hover {
  transform: scale(.9);
}

.results-button {
  background-color: darkgray;
}