.tools {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.info-container {
  padding: 1em;
  background-color: hsla(208, 100%, 44.12%, 0.4);
  border: 1px solid hsl(208, 100%, 44.12%);
  color: white;
  font-size: .8em;
  margin-bottom: 1.5em;
}

.url-container {
  display: flex;
  border-top: .5px solid var(--highlight);
  margin-bottom: 1.3em;
  border-radius: 2em;
  flex-direction: row;
  overflow: hidden;
}

.request-type {
  padding: .35em .6em !important;
  width: fit-content !important;
  height: 100%;
  border: none !important;
  margin: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.request-type .dropdown-icon {
  padding: 0 !important;
  font-size: 1.5em;
}

.url-input {
  padding: .7em !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 100%;
  flex: 1;
  margin: 0 !important;
}

.input-container {
  border-radius: 15px;
  padding: 15px;
  border: 1px solid var(--border);
  border-top: 1px solid var(--highlight);
  color: var(--text);
  background-color: var(--bg);
  box-shadow: 0 2px 2px var(--shadow);
  margin: .7em 0;
  outline-color: transparent;
  position: relative;
}

.input-container::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.input-selectors {
  border: 1px dashed var(--border);
  border-radius: .4em;
  margin: .5em 0;
  color: var(--text) !important;
}

.options-container {
  margin: 1.3em 0;
  display: flex;
  justify-content: center;
  padding: .5em;
  text-align: center;
  gap: .5em;
  flex-direction: column;
}

.option-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.option-content {
  display: flex;
  gap: .5em;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 35px;
  height: 20px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--bg);
  box-shadow: 4px 4px var(--bg);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-light);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border: 2px solid var(--bg);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--secondary);
  box-shadow: 0 3px 0 var(--bg);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--primary);
}

.toggle:checked + .slider:before {
  transform: translateX(20px);
}

.option-name {
  color: var(--text);
}

.toggler-el {
  display: none;
  flex: 1;
  flex-direction: column;
}

.authEl {
  margin: .3em;
}

.content-div {
  display: flex;
  position: relative;
}

.content-body {
  position: relative;
  resize: none;
  min-height: 200px;
  padding: 15px;
  box-shadow: 0px 4px 6px var(--shadow);
  color: var(--text);
  background: var(--bg);
  border: none;
  border-radius: 15px;
}

.content-body::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.flexbox-header {
  display: none;
  margin-top: 2em;
  margin-bottom: .7em;
}

.flexbox-results {
  display: none;
  margin-top: .3em;
  position: relative;
}

.flexbox-results i {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text);
  font-size: 1em;
  z-index: 2;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: all .5s;
  margin: 1em .5em;
}

.flexbox-results i:hover {
  background: var(--hover);
}

.results {
  position: relative;
  resize: none;
  min-height: 200px;
  padding: 15px;
  box-shadow: 0px 4px 6px var(--shadow);
  color: var(--text);
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
  border: none;
  border-radius: 15px;
}

.results::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.results-btn-div {
  display: flex;
  justify-content: center;
}

.results-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: hotpink;
  box-shadow: 0 2px 2px var(--shadow);
  color: white;
  font-size: 1em;
  font-weight: bold;
  outline-color: transparent;
  margin: 15px;
  cursor: pointer;
  transition: all .3s;
}

.results-button:hover {
  transform: scale(.9);
}