.tools {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.info-container {
  padding: 1em;
  background-color: hsla(208, 100%, 44.12%, 0.4);
  border: 1px solid hsl(208, 100%, 44.12%);
  color: white;
  font-size: .8em;
  margin-bottom: 1.5em;
}

.url-container {
  display: flex;
  border-top: .5px solid var(--highlight);
  margin-bottom: 1.3em;
  border-radius: 2em;
  flex-direction: row;
  overflow: hidden;
}

.request-type {
  padding: .35em .6em !important;
  width: fit-content !important;
  height: 100%;
  border: none !important;
  margin: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.request-type .dropdown-icon {
  padding: 0 !important;
  font-size: 1.5em;
}

.url-input {
  padding: .7em !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 100%;
  flex: 1;
  margin: 0 !important;
}

.input-selectors {
  border: 1px dashed var(--border);
  border-radius: .4em;
  margin: .5em 0;
  color: var(--text) !important;
}

.options-container {
  margin: 1.3em 0;
  display: flex;
  justify-content: center;
  padding: .5em;
  text-align: center;
  gap: .5em;
  flex-direction: column;
}

.option-container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.option-content {
  display: flex;
  gap: .5em;
}

.toggler-el {
  display: none;
  flex: 1;
  flex-direction: column;
}

.authEl {
  margin: .3em;
}

.content-div {
  display: flex;
  position: relative;
}

.content-body {
  position: relative;
  resize: none;
  min-height: 200px;
  padding: 15px;
  box-shadow: 0px 4px 6px var(--shadow);
  color: var(--text);
  background: var(--bg);
  border: none;
  border-radius: 15px;
}

.content-body::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

.flexbox-header {
  display: none;
  margin-top: 2em;
  margin-bottom: .7em;
}

.results-button {
  background-color: hotpink;
}