* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'poppins', Sans-Serif;
  /* Prevents any scrolling issues */
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  /* Ensures the container takes the full height of the viewport */
}

.pageH2 {
  margin: 20px;
  background: linear-gradient(to right, transparent 5%, indianred, transparent 95%);
}

.header-tag {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 2px;
  background-color: white;
  font-size: .6em;
  color: indianred;
  border-radius: 3px;
}

.tools {
  background-color: var(--bg-light);
  color: var(--primary) !important;
}

.back-container {
  display: flex;
  padding: .3em 1em .3em 1em;
  width: max-content;
  flex-direction: row;
  color: var(--text);
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-left: none;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  font-size: .65em;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  user-select: none;
  text-decoration: none;
  transition: all .3s;
}

.back-container i {
  font-size: 1.8em;
}

.back-container p {
  margin: 0;
}

.back-container:hover {
  transform: translateX(-6px);
}

.dropdown-container {
  color: #B4B4B4;
  background: white;
  position: relative;
  border: 1px solid #B4B4B4;
  padding: 15px;
  width: 75%;
  border-radius: 15px;
  display: flex;
  justify-self: center;
  margin: 15px;
  font-weight: bold;
  flex-direction: column;
  transition: all ease .5s;
  overflow: hidden;
}

.head-i {
  display: flex;
  position: relative;
}

.dropdown-text {
  gap: .5em;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: .8em;
}

.dd-i {
  font-size: 35px;
  font-weight: none;
  display: block;
  position: absolute;
  align-self: center;
  padding-right: 5px;
  right: 0;
  transition: all .3s;
}

.dd-i.active {
  transform: rotate(180deg);
}

.dropdown-content {
  display: grid;
  visibility: hidden;
  grid-template-rows: 0fr;
  transition: all 300ms;
}

.dropdown-content div {
  display: grid;
  gap: .3em;
  overflow: hidden;
}

.dropdown-content p {
  color: black;
  padding: .8em;
  display: flex;
  gap: .3em;
  font-size: .8em;
  position: relative;
}

.dropdown-content li:nth-child(1) {
  margin-top: 1em;
}

.dropdown-content.show {
  visibility: visible;
  grid-template-rows: 1fr;
}

.langIcon {
  font-size: 2em;
}

.select-item {
  display: flex;
  gap: 5px;
  color: #383838;
  border-radius: 5px;
  align-items: center;
  transition: transform .5s;
}

.select-item:hover {
  background-color: #A5A5A5;
  transform: translateX(2.5px);
}

.select-item.selected {
  transform: translateX(2.5px);
  background-color: springgreen;
  color: white;
}

.recommended {
  height: 15px;
  padding: 2px 5px 2px 5px;
  align-self: center;
  font-size: .7em;
  background: springgreen;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
}

.buttonWrapper {
  position: relative;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-self: center;
  border: 1.6px solid indianred;
  border-radius: 10px;
  overflow: hidden !important;
}

.buttonIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: indianred;
  border-radius: 8px;
  z-index: 1;
  margin: 0;
  transition: left .2s ease;
  overflow: hidden;
}

.dualbtn {
  font-weight: bold;
  width: 147px;
  height: 42.3px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0;
  gap: 5px;
  color: black;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dualbtn.selected {
  color: white;
}

.switcherContainer {
  transform: translateX(50vh);
  display: flex;
  justify-content: center;
  transition: transform ease .2s;
}

#textmodetxt {
  display: none;
  transition: display 2s;
}

.selectedFunc {
  transform: translateX(0) !important;
}

.deselectedFunc {
  display: flex;
  display: none !important;
}

.uploadWrapper {
  display: flex;
  justify-content: center;
}

.uploadbtn {
  transform: translateX(-50vh);
  width: 180px;
  height: 40px;
  position: relative;
  border-radius: 25px;
  border: none;
  background-color: deepskyblue;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  margin: 15px;
  cursor: pointer;
  transition: all .3s;
}

.uploadbtn i {
  font-size: 1.2em;
  margin: 0;
}

.uploadbtn:hover {
  transform: translate(-50vh) scale(.9);
}

.uploadMenu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .6s ease-in-out, visibility .6s ease-in-out, background .6s ease-in-out, backdrop-filter .6s ease-in-out;
  z-index: 100;
}

.uploadMenu {
  background: transparent;
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  transform: scale(0);
  transition: transform .5s ease-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
  border: 1px solid white;
  flex-direction: column;
  isolation: isolate;
  color: white;
  border-top-right-radius: 0 !important;
  background-color: whitesmoke;
}

.close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  justify-self: right;
  top: 0;
  right: 0;
  user-select: none;
  cursor: pointer;
  font-size: 1.5em;
}

.uploadMenu-container.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(5px);
}

.uploadMenu.active {
  transform: scale(1);
}

.uploadMenu input {
  display: none;
}

.uploadZone {
  width: 84%;
  height: 84%;
  position: relative;
  border: 2px dashed #999;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.labelUpload {
  width: auto;
  height: auto;
  text-align: center;
  color: #42445A;
  font-weight: bold;
  margin-top: 10px;
}

.flexbox-upload {
  width: 90%;
  display: none;
  flex-direction: column;
}

.flexbox-uploadinfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.upload-info {
  color: black;
  margin: 0;
  padding: 0;
  font-size: .8em;
  font-weight: 500;
}

.status {
  color: black;
  margin: 0;
  padding: 0;
  font-size: .8em;
  font-weight: 500;
}

.dragicon {
  font-size: 7em;
  color: #42445A;
  align-self: center;
  text-align: center;
}

.uploadZone.drag-over {
  background-color: #f5f5ff;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

#errorDivUPLOAD {
  background-color: red;
  height: 85px;
  padding: 5px;
  width: 85%;
  border-radius: 15px;
  display: none;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  color: white;
  align-items: center;
  margin: 15px;
  overflow: hidden;
}

.linefordiv {
  align-self: center;
  height: 80%;
  margin-right: 10px;
  width: 1px;
  background: #DCDCDC;
}

#errorDivUPLOAD p {
  max-height: 80%;
  white-space: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#errorDivUPLOAD i {
  font-size: 3em;
  margin: 15px 10px 15px 5px;
  align-self: center;
}

#errorDiv {
  background-color: red;
  height: 80px;
  padding: 5px;
  width: 300px;
  border-radius: 15px;
  display: none;
  flex-direction: row;
  justify-self: center;
  color: white;
  align-items: center;
  overflow: hidden;
}

.linefordiv {
  align-self: center;
  height: 80%;
  margin-right: 10px;
  width: 1px;
  background: #DCDCDC;
}

#errorDiv p {
  max-height: 100%;
  white-space: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#errorDiv i {
  font-size: 3em;
  margin: 15px 10px 15px 5px;
  align-self: center;
}

.ttc {
  resize: none;
  justify-self: center;
  height: 150px;
  text-wrap: nowrap;
  border-radius: 15px;
  width: 75%;
  padding: 15px;
  border: 1px solid #B4B4B4;
  color: black;
  background-color: white;
  margin: 15px;
  outline: none;
  position: relative;
}

.ttc::placeholder {
  color: #B4B4B4;
  font-weight: bold;
  padding-left: 5px;
}

.results-div i {
  position: absolute;
  top: 0;
  color: white;
  right: 0;
  font-size: 1em;
  z-index: 2;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  user-select: none;
  transition: all .5s;
  margin: .3em;
}

.results-div i:hover {
  background: #A5A5A5;
}

.flexbox-results {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.results-div {
  position: relative;
  display: inline-block;
  justify-content: center;
  background-color: #1d1e22;
  padding: 50px 25px 25px 25px;
  border-radius: 15px 15px 0 0;
}

.ball-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 8px;
  margin-left: 35px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

.redball {
  background-color: red;
}

.yellowball {
  background-color: #FFF500;
}

.greenball {
  background-color: green;
}

.results {
  border: none;
  border-radius: 15px;
}

.results::placeholder {
  color: #B4B4B4;
  font-weight: bold;
  padding-left: 5px;
}

.textarea-div {
  display: flex;
  background: #1d1e22;
  flex-grow: 1;
  height: 314px;
}

.textarea-div>textarea {
  border: none;
  margin: 0;
  background: #1d1e22;
  resize: none;
  outline: none;
  font-size: 13px;
}

.codePH {
  flex-grow: 1;
  color: #eee;
  text-wrap: nowrap;
  resize: none;
  background-color: #26262C;
  display: flex;
  position: relative;
  justify-self: center;
}

.numbersPH {
  width: 20px;
  overflow: hidden;
  color: #414141;
}

.error-switch {
  height: 50px;
  width: 100%;
  display: flex;
  border-radius: 0 0 15px 15px;
  background-color: #2D2D34;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
}

.error-switch p {
  margin: 0 !important;
}

.arrows {
  font-weight: bold;
  font-size: 1.4em;
  display: block;
  position: absolute;
  cursor: pointer;
  margin: 30px;
  transition: all .5s;
  border-radius: 50%;
}

.arrow1 {
  left: 0;
}

.arrow2 {
  right: 0;
}

.arrows:hover {
  background-color: #A5A5A5;
}

.copy-alert-container {
  height: 10px;
  position: fixed;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  bottom: -110vh;
  visibility: hidden;
  gap: 3px;
  margin: 15px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: .7em;
  z-index: 2;
  border-radius: 15px;
  background-color: springgreen;
  border: 1px solid white;
  transition: all .5s;
}

.copy-alert-container i {
  font-size: 1.2em;
}

.copy-alert-container.active {
  bottom: 0;
  visibility: unset;
}

.results-btn-div {
  display: flex;
  justify-content: center;
}

.results-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: indianred;
  color: white;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  margin: 15px;
  cursor: pointer;
  transition: all .3s;
}

.results-button:hover {
  transform: scale(.9);
}

.downloadbtn {
  width: 180px;
  height: 40px;
  position: relative;
  border-radius: 25px;
  border: none;
  background-color: deepskyblue;
  color: white;
  justify-content: center;
  justify-self: center;
  align-items: center;
  display: flex;
  gap: 5px;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  margin: 15px;
  cursor: pointer;
  transition: all .3s;
}

.downloadbtn i {
  font-size: 1.2em;
  margin: 0;
}

.downloadbtn:hover {
  transform: scale(.9);
}