* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'poppins', Sans-Serif;
  /* Prevents any scrolling issues */
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  height: 100vh;
  /* Ensures the container takes the full height of the viewport */
}

.pageH2 {
  margin: 20px;
  background: linear-gradient(to right, transparent 5%, purple, transparent 95%);
}

.header-tag {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 2px;
  background-color: white;
  font-size: 0.6em;
  color: purple;
  border-radius: 3px;
}

.back-container {
  display: flex;
  width: max-content;
  flex-direction: row;
  color: #383838;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 2px;
  cursor: pointer;
  align-items: center;
  user-select: none;
  text-decoration: none;
  transition: all 0.3s;
}

.back-container i {
  font-size: 1.8em;
}

.back-container p {
  margin: 0;
}

.back-container:hover {
  transform: translateX(-6px);
}

.color-pallete-container {
  overflow: hidden;
  padding: 10px 30px;
  transition: all 0.5s;
}

.color-dropdownmenu {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  color: #373737;
  gap: 3.5px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.color-dropdownmenu i {
  margin: 0;
  align-self: center;
  font-size: 1.8em;
  transition: all 0.3s;
}

.color-dropdownmenu .active {
  transform: rotate(180deg);
}

.color-dropdownmenu p {
  margin: 0;
  align-self: center;
}

.colors-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.color-container {
  height: 75px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  border-radius: 15px 15px 0 15px;
  padding: 10px;
  border: 1px solid black;
}

.pcr-button {
  height: 60px !important;
  width: 60px !important;
}

.color-name {
  display: flex;
  font-weight: bold;
}

.delete-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

.delete-icon:hover {
  color: white;
  background-color: red;
}

.addColor-btn {
  width: 100%;
  height: 75px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 15px;
  color: #C4C4C4;
  background-color: white;
  border: 1px dashed #C4C4C4;
}

.dropdown-container {
  color: #B4B4B4;
  background: white;
  position: relative;
  border: 1px solid #B4B4B4;
  padding: 15px;
  width: 265px;
  border-radius: 15px;
  display: flex;
  justify-self: center;
  margin: 15px;
  font-weight: bold;
  max-height: 14px;
  flex-direction: column;
  transition: all ease 0.5s;
  overflow: hidden;
}

.head-i {
  display: flex;
  position: relative;
}

.dropdown-text {
  margin: 0 !important;
  display: flex;
  align-self: center;
  font-weight: bold !important;
  font-size: 0.8em !important;
}

.dd-i {
  font-size: 35px;
  font-weight: none !important;
  display: block;
  position: absolute;
  align-self: center;
  padding-right: 5px;
  right: 0;
  transition: all 0.3s;
}

.dd-i.active {
  transform: rotate(180deg);
}

.dropdown-content {
  margin-top: 15px;
}

.dropdown-content p {
  color: black;
  padding: 10px;
  margin: 3px;
  font-size: 0.8em;
  font-weight: none !important;
  position: relative;
  z-index: 50;
}

.dropdown-content.active {
  display: unset;
}

.select-item {
  display: flex;
  gap: 5px;
  border-radius: 5px;
  transition: transform 0.5s;
}

.select-item:hover {
  background-color: #A5A5A5;
  transform: translateX(2.5px);
}

.select-item.selected {
  transform: translateX(2.5px);
  background-color: springgreen;
  color: white;
}

.recommended {
  height: 15px;
  padding: 2px 5px 2px 5px;
  align-self: center;
  font-size: 0.7em;
  background: springgreen;
  color: white;
  border-radius: 7px;
  border: 2px solid white;
}

#errorDiv {
  background-color: red;
  height: 80px;
  padding: 5px;
  width: 300px;
  border-radius: 15px;
  display: none;
  flex-direction: row;
  justify-self: center;
  color: white;
  align-items: center;
  overflow: hidden;
}

.linefordiv {
  align-self: center;
  height: 80%;
  margin-right: 10px;
  width: 1px;
  background: #DCDCDC;
}

#errorDiv p {
  max-height: 100%;
  white-space: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

#errorDiv i {
  font-size: 3em;
  margin: 15px 10px 15px 5px;
  align-self: center;
}

.ttc{
  border-radius: 15px;
  width: 268px;
  display: flex;
  justify-self: center;
  padding: 15px;
  border: 1px solid #B4B4B4;
  color: black;
  background-color: white;
  margin: 15px;
  outline: none;
  position: relative;
}

.ttc::placeholder {
  color: #B4B4B4;
  font-weight: bold;
  padding-left: 5px;
}

.results-div i {
  position: absolute;
  display: flex;
  top: 10px;
  color: black;
  right: 10px;
  font-size: 1em;
  z-index: 600;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  user-select: none;
  transition: all 0.5s;
}

.results-div i:hover {
  background: #A5A5A5;
}

.flexbox-results {
  display: flex;
  justify-content: center;
}

.results {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  resize: none;
  display: flex;
  position: relative;
  justify-self: center;
  min-height: 200px;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0px 0px 10px 3px purple;
  border: none;
  border-radius: 15px;
}

.results::placeholder {
  color: #B4B4B4;
  font-weight: bold;
  padding-left: 5px;
}

.copy-alert-container {
  height: 10px;
  position: fixed;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  bottom: -110vh;
  visibility: hidden;
  gap: 3px;
  margin: 15px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 0.7em;
  z-index: 2;
  border-radius: 15px;
  background-color: springgreen;
  border: 1px solid white;
  transition: all 0.5s;
}

.copy-alert-container i {
  font-size: 1.2em;
}

.copy-alert-container.active {
  bottom: 0;
  visibility: unset;
}

.results-div {
  position: relative;
  display: inline-block;
  justify-content: center;
}

.results-btn-div {
  display: flex;
  justify-content: center;
}

.results-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: purple;
  color: white;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.results-button:hover {
  transform: scale(0.9);
}

@media (max-width: 800px) {
  .circular {
    width: 90px;
    height: 90px;
  }
}