.page-header {
  background: linear-gradient(to right, transparent 0%, springgreen 15%, springgreen 85%, transparent 100%);
}

.header-tag {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 2px;
  background-color: white;
  font-size: .6em;
  color: var(--secondary);
  border-radius: 3px;
}

.dashboard {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.toolboxes-container {
  padding: .5em;
}

.toolboxes-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 2em;
}

.toolboxes-container .tool {
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
  box-shadow: 0 4px 4px var(--shadow);
  border-top: .6px solid var(--highlight);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1em;
  flex-direction: column;
  position: relative;
}

.toolboxes-container .tool::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 67px;
  width: 67px;
  background-color: var(--bg-light);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 50%;
}

.toolboxes-container .tool::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 58.4px;
  width: 58.4px;
  background-color: var(--bg-light);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50%;
}

.tool-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  margin-bottom: 2em;
}

.toolboxes-container .tool i {
  font-size: 2em;
}

.toolboxes-container .tool h3 {
  width: min-content;
  font-size: 2em;
  z-index: 2;
}

.toolboxes-container .tool a {
  z-index: 2;
  display: flex;
  gap: .5em;
  text-decoration: none;
  align-items: center;
}

.toolboxes-container .tool button {
  border: none;
  color: white;
  border-radius: 25px;
  width: 190px;
  height: 40px;
  cursor: pointer;
  transition: background-color .8s ease, color .8s ease, border .8s ease, transform .2s ease;
  user-select: none;
  font-size: 1em;
  overflow: hidden;
}

.tool button:hover {
  transform: scale(.93);
}

.tool:nth-child(1) {
  color: springgreen;
}

.tool:nth-child(1) button {
  background-color: springgreen;
}

.tool:nth-child(2) {
  color: lawngreen;
}

.tool:nth-child(2) button {
  background: lawngreen;
}

.tool:nth-child(3) {
  color: orange;
}

.tool:nth-child(3) button {
  background: orange;
}

.tool:nth-child(4) {
  color: orangered;
}

.tool:nth-child(4) button {
  background: orangered;
}

.tool:nth-child(5) {
  color: indianred;
}

.tool:nth-child(5) button {
  background: indianred;
}

.tool:nth-child(6) {
  color: purple;
}

.tool:nth-child(6) button {
  background: purple;
}

.tool:nth-child(7) {
  color: hotpink;
}

.tool:nth-child(7) button {
  background: hotpink;
}

.tool:nth-child(8) {
  color: darkgray;
}

.tool:nth-child(8) button {
  background: darkgray;
}

.tool:nth-child(9) {
  color: deepskyblue;
}

.tool:nth-child(9) button {
  background: deepskyblue;
}

.tool:nth-child(10) {
  color: floralwhite
}

.tool:nth-child(10) button {
  color: black;
  background: floralwhite;
}

.toolboxes-container .tool button i {
  font-size: 1em;
  transition: transform .5s ease;
}

.toolboxes-container .tool button:hover .button-icon {
  transform: rotate(-45deg);
}