.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.donation {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.page-header {
  background: linear-gradient(to right, transparent 5%, springgreen, transparent 95%);
}

.donation-container {
  display: flex;
  background: linear-gradient(0deg, transparent 5%, var(--bg-light));
  border-top-right-radius: 50%;
  flex-direction: column;
  margin-top: 1em;
  padding: 60px 120px 60px 60px;
  color: var(--text);
  pointer-events: none;
  font-weight: bold;
  position: relative;
}

.donation-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 80%, var(--bg-dark) 100%)
}

.donation-container * {
  pointer-events: auto;
}

.donation-container p {
  margin: 0;
}

.donation-container h3 {
  text-decoration: underline;
  font-size: 1em;
}

.donation-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
  z-index: 100;
}

/* The popup itself */
.donation-menu {
  background: transparent;
  padding: 0;
  display: flex;
  flex: 1;
  padding: 1.5em;
  max-width: 300px;
  height: 450px;
  border-radius: 10px;
  transform: scale(.95);
  transition: transform .5s ease-in-out;
  box-shadow: 0 6px 6px var(--shadow);
  border: 1px solid var(--border);
  flex-direction: column;
  color: var(--text-muted);
  border-top-right-radius: 0 !important;
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
}

/* When popup is active */
.donation-menu-container.active {
  opacity: 1;
  visibility: visible;
  background-color: hsla(0, 0%, 0%, .5)
  /* Dark overlay */
}

.donation-menu.active {
  transform: scale(1);
  /* Animates from small to full size */
}

.donation-menu h2 {
  font-size: 2em;
  color: var(--text);
  text-align: center;
  margin-top: 5px;
}

.donation-menu .inputs {
  position: relative;
  margin: 2em 0;
  gap: .8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs input {
  height: 50px;
  background: transparent;
  border: none;
  outline-color: transparent;
  border: 2px solid var(--border);
  border-radius: 40px;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  color: var(--text);
}

.inputs input::placeholder {
  color: var(--text-muted);
}

.inputs i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.close-btn {
  position: absolute;
  padding: 1em;
  background-color: var(--danger);
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  top: 0;
  right: 0;
  user-select: none;
  cursor: pointer;
}

.donation-btn {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: .5em;
  color: var(--primary);
  background: transparent;
  border: 2px solid var(--primary);
  font-weight: 500;
  margin-top: 30px;
  transition: all .3s;
}

.donation-btn:hover {
  color: white;
  background-color: var(--primary);
  transform: scale(.95);
}