.donation-container {
  display: flex;
  background: linear-gradient(0deg, transparent 5%, var(--bg-light));
  border-top-right-radius: 6em;
  flex-direction: column;
  margin-top: 1em;
  padding: 4em 5em 4em 4em;
  color: var(--text);
  pointer-events: none;
  font-weight: bold;
  position: relative;
}

.donation-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 80%, var(--bg-dark) 100%)
}

.donation-container * {
  pointer-events: auto;
}

.donation-container p {
  margin: 0;
}

.donation-menu-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 11;
  background-color: hsla(0, 0%, 0%, 0);
  align-content: center;
  transition: all 300ms ease-in-out;
}

/* When popup is active */
.donation-menu-container.active {
  visibility: visible;
  background-color: hsla(0, 0%, 0%, 0.30);
  /* Dark overlay */
}

/* The popup itself */
.donation-menu {
  position: relative;
  display: flex;
  visibility: hidden;
  max-height: 90%;
  transform: scale(.95);
  opacity: 0;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  width: min(32rem, 85%);
  color: var(--text);
  box-shadow: 0 6px 6px var(--shadow);
  transition: all 300ms ease-in-out;
}

.donation-menu.active {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
  /* Animates from small to full size */
}

.donation-main-menu {
  position: absolute;
  top: -4em;
  left: 0;
  width: 100%;
  padding: .5em 1em;
  display: flex;
  background-color: var(--bg-light);
  justify-content: space-between;
  align-items: center;
  border-radius: .5em;
}

.payment-close-btn {
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
  color: var(--text);
  padding: .2em;
  transition: all 300ms ease-in-out;
}

.payment-close-btn:hover {
  background-color: var(--hover);
}

.donation-main-menu h3 {
  font-size: .9em;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.tab-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1em;
  cursor: pointer;
  color: var(--text-muted);
  transform: scaleY(.9) translateY(10px);
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  border: 1px solid var(--border-muted);
  border-bottom: none;
  background: linear-gradient(to bottom, var(--bg) 65%, var(--bg-light));
  z-index: 1;
  transition: all 300ms;
}

.tab-container:not(.selected):hover {
  color: var(--text);
}

.tab-container.selected {
  color: var(--text);
  border: none;
  transform: scaleY(1) translateY(0);
  background: var(--bg-light);
}

.tab-container.selected:hover {
  color: var(--primary);
}

.section {
  padding: 1em;
  background-color: var(--bg-light);
  z-index: 2;
  display: none;
  border-radius: 0 0 .5em .5em;
  transition: all 300ms;
}

.section.visible {
  display: block;
}

.info-container {
  padding: 1em;
  background-color: hsla(208, 100%, 44.12%, 0.4);
  border: 1px solid hsl(208, 100%, 44.12%);
  color: white;
  font-size: .8em;
  margin-bottom: 1.5em;
}

.donation-menu .inputs {
  position: relative;
  margin-top: .5em;
  gap: .8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs input {
  background: var(--bg);
  border: none;
  outline-color: transparent;
  border: 2px solid var(--border);
  border-radius: .7em;
  font-size: 1em;
  padding: .7em 1em;
  color: var(--text);
}

.inputs input::placeholder {
  color: var(--text-muted);
}

.inputs i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.donation-redirect-button {
  display: flex;
  gap: .3em;
  flex-direction: row;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  padding: .75em 1em;
  border-radius: 1em;
  cursor: pointer;
  color: var(--bg-dark);
  background-color: var(--text);
  margin-top: 1.5em;
  transition: all 150ms ease-in-out;
}

.donation-redirect-button:hover {
  transform: scale(.95);
}

.donation-btn {
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: .5em;
  color: var(--primary);
  background: transparent;
  border: 2px solid var(--primary);
  font-weight: 500;
  margin-top: 30px;
  transition: all .3s;
}

.donation-btn:hover {
  color: white;
  background-color: var(--primary);
  transform: scale(.95);
}