.donation {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.pageH2 {
  margin: 20px;
  background: linear-gradient(to right, transparent 5%, springgreen, transparent 95%);
}

.donation-div {
  display: flex;
  background: linear-gradient(0deg, transparent 5%, var(--bg-light));
  border-top-right-radius: 200px;
  flex-direction: column;
  padding: 60px 120px 60px 60px;
  
  color: var(--text);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  user-select: none;
  position: relative;
}

.donation-menu-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
  z-index: 100;
}

/* The popup itself */
.donation-menu {
  background: transparent;
  padding: 20px;
  display: flex;
  width: 270px;
  height: 450px;
  border-radius: 10px;
  transform: scale(95);
  transition: transform .5s ease-out;
  box-shadow: 0 6px 6px var(--shadow);
  border: 1px solid var(--border);
  flex-direction: column;
  isolation: isolate;
  color: var(--text-muted);
  border-top-right-radius: 0 !important;
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
}

.donation-menu h2 {
  font-size: 2em;
  color: var(--text);
  text-align: center;
  margin-top: 5px;
}

.donation-menu .input {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.input input {
  width: 80%;
  height: 100%;
  background: transparent;
  border: none;
  outline-color: transparent;
  border: 2px solid var(--text);
  border-radius: 40px;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  color: var(--text);
}

.input input::placeholder {
  color: var(--text-muted);
}

.input i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--danger);
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  justify-self: right;
  top: 0;
  right: 0;
  user-select: none;
  cursor: pointer;
  font-size: 1.5em;
}

/* When popup is active */
.donation-menu-div.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(5px);
  /* Dark overlay */
}

.donation-menu.active {
  transform: scale(1);
  /* Animates from small to full size */
}

.donation-btn {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: .5em;
  color: var(--primary);
  background: transparent;
  border: 2px solid var(--primary);
  font-weight: 500;
  margin-top: 30px;
  transition: all .3s;
}

.donation-btn:hover {
  color: white;
  background-color: var(--primary);
  transform: scale(.9);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.donation-div p {
  margin: 0;
}

.donation-div h3 {
  text-decoration: underline;
  font-size: 1em;
  font: ;
}