* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Inter', Sans-Serif;
  /* Prevents any scrolling issues */
  box-sizing: border-box;
  background-color: var(--bg-dark);
}

body {
  padding: 0 1em;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  /* Ensures the container takes the full height of the viewport */
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.fader {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity .4s ease-out, transform .4s ease-out;
}

.fader.show {
  opacity: 1;
  transform: translateY(0);
}

.fader.reversed {
  opacity: 0;
  transform: translateY(-30px);
}

.image-wrapper {
  display: flex;
  margin-top: 1em;
  border-radius: .5em .5em 0 0;
  padding: .5em;
  flex-direction: column;
  gap: 3em;
  pointer-events: none;
  position: relative;
  background-color: var(--bg-light);
  /* Adjust the height of the image container */
}

.image-wrapper * {
  pointer-events: auto;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, var(--bg-dark) 100%)
}

.image-wrapper a {
  display: flex;
  text-decoration: none;
  align-self: center;
  max-width: fit-content;
}

.ad-container {
  position: relative;
  height: 50px;
  flex: 1;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 1em 0;
  border: 1px solid var(--border-muted);
  box-shadow: 0 4px 1px var(--shadow);
}

.ad-container p {
  color: var(--text);
  text-align: center;
}

.branding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  height: 125px;
  overflow: hidden;
  border-radius: 0 0 50% 50%;
}

.MainHeader {
  color: transparent;
  font-size: 3em;
  color: var(--primary);
}

.starting-btn {
  background-color: transparent;
  border: none;
  height: 35px;
  color: white;
  background-color: var(--primary);
  width: 160px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: all .4s;
  box-shadow: 0 6px 1px var(--shadow);
}

.starting-btn:hover {
  box-shadow: 0 4px 4px hsla(150, 100%, 50%, 0.15);
  transform: translateY(-3px)
}

.header-message {
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.5em;
  text-shadow: 0 4px 1px var(--shadow);
}

.header-message span {
  color: transparent;
  position: relative;
  background: linear-gradient(to right, var(--primary), var(--secondary));
  background-clip: text;
}

.header-message span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, var(--primary), var(--secondary));
}

.features {
  padding: 1.5em .5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  position: relative;
  justify-content: center;
  gap: 2em;
}

.features .feature {
  border-radius: 1rem;
  padding: 2em;
  overflow: hidden;
  text-align: center;
  background-color: var(--bg-light);
  box-shadow: 0 4px 4px var(--shadow-muted);
}

.features .feature:hover {
  transform: translateY(-5px);
}

.features .feature:nth-child(1) {
  color: springgreen;
}

.features .feature:nth-child(1)::before {
  background-image: conic-gradient(springgreen 0deg, transparent 60deg, transparent 180deg, springgreen 180deg, transparent 240deg);
}

.features .feature:nth-child(2) {
  color: orange;
}

.features .feature:nth-child(2)::before {
  background-image: conic-gradient(orange 0deg, transparent 60deg, transparent 180deg, orange 180deg, transparent 240deg);
}

.features .feature:nth-child(3) {
  color: indianred;
}

.features .feature:nth-child(3)::before {
  background-image: conic-gradient(indianred 0deg, transparent 60deg, transparent 180deg, indianred 180deg, transparent 240deg);
}

.features .feature:nth-child(4) {
  color: purple;
}

.features .feature:nth-child(4)::before {
  background-image: conic-gradient(purple 0deg, transparent 60deg, transparent 180deg, purple 180deg, transparent 240deg);
}

.features .feature p {
  color: var(--text-muted);
  margin-top: 2em;
}

.features .feature::before,
.features .feature::after {
  content: '';
  position: absolute;
}

.features .feature::before {
  width: 200%;
  height: 200%;
  inset: -50%;
  z-index: -2;
  animation: spin 8s linear infinite;
}

.features .feature::after {
  background-color: var(--bg-light);
  inset: .25rem;
  border-radius: calc(1rem - .25rem);
  z-index: -1;
  transition: all .35s linear;
}

.features .feature:hover::before {
  animation-play-state: paused;
}

@keyframes spin {
  to {
    transform: rotateZ(-360deg);
  }
}

.features div i {
  font-size: 6.5em;
}

#faq {
  padding: 3em 2em 10em 2em;
  pointer-events: none;
  position: relative;
}

#faq * {
  pointer-events: auto;
}

#faq::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
}

.faq-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  padding-right: 5em;
}

.faq-heading h3 {
  font-weight: bold;
  font-size: 45px;
  line-height: 57px;
  color: var(--text);
}

.faq-heading p {
  font-size: 13px;
  line-height: 20px;
  color: var(--text-muted);
}

.faq-discord {
  font-weight: bold;
  text-decoration-color: var(--text-muted);
  color: var(--text-muted);
}

.faq-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
  margin-top: 4em;
}

.faq-box {
  padding: 1em 1.5em;
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
  border: 1px solid var(--border);
  border-top: 1px solid var(--highlight);
  color: var(--text);
  box-shadow: 0 2px 2px var(--shadow);
  border-radius: .8em;
}

.faq-box-question {
  display: grid;
  grid-template-columns: 1fr 30px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-family: "Segoe", sans-serif;
}

.faq-box-answer {
  color: var(--text-muted);
}

.faq-box-question h4 {
  font-weight: bold;
  font-size: .9em;
  line-height: 31px;
}

.faq-box-icon {
  display: block;
  position: relative;
  height: 3px;
  width: 1em;
  margin-left: auto;
}

.faq-box-icon::before,
.faq-box-icon::after {
  background-color: var(--text);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: all ease-out .2s;
}

.faq-box-icon::before {
  top: 0;
}

.faq-box-icon::after {
  top: 0;
  transform: rotate(90deg);
}

.faq-box-question.active .faq-box-icon::after {
  transform: rotate(0deg);
}

.faq-box-question.active h4 {
  color: var(--accent);
}

.faq-box-answer p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  padding-top: 20px;
}

.faq-box-answer {
  display: grid;
  visibility: hidden;
  grid-template-rows: 0fr;
  transition: all ease .2s;
}

.faq-box-answer div {
  overflow: hidden;
}

.faq-box-answer.active {
  visibility: visible;
  grid-template-rows: 1fr;
}

@media (prefers-color-scheme: light) {
  .mainimg {
    opacity: 1;
  }
}