/* Alert CSS */

.alert-container {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transform: scale(.95);
  position: fixed;
  z-index: 20;
  top: -5vh;
  margin: 1em 0;
  box-shadow: 0 2px 2px var(--shadow);
  padding: 1em;
  width: max(300px, 35%);
  border-radius: .5em;
  flex-direction: column;
  justify-self: center;
  color: oklch(0.96 0 0);
  overflow: hidden;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, top 300ms ease-in-out, visibility ease-in-out 300ms;
}

.alert-container .close-btn {
  padding: 1em;
  font-size: .85em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  padding: .3em;
  padding-top: .4em;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.alert-container .close-btn:hover {
  background-color: var(--hover);
}

.alert-container.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  top: 0;
}

.alert-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .3em;
  font-size: 1em;
  font-weight: bold;
}

.alert-container p {
  margin-top: .5em;
  font-size: 1em;
  font-family: Arial, Sans-Serif;
  white-space: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Dropdown CSS */

.dropdown-container {
  position: relative;
  background-color: var(--bg);
  border-top: .5px solid var(--highlight);
  box-shadow: 0 2px 2px var(--shadow);
  padding: 1em;
  border-radius: .2em;
  margin: .7em 0;
}

.dropdown-header-container {
  display: flex;
  position: relative;
  color: var(--text-muted);
  align-items: center;
}

.dropdown-selected {
  display: flex;
  gap: .3em;
  align-items: center;
  font-weight: bold;
  font-size: .8em;
}

.dropdown-icon {
  margin-left: auto;
  user-select: none;
  font-size: 1.3em;
  transition: transform .3s;
}

.dropdown-icon.active {
  transform: rotate(180deg);
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  left: 0;
  padding: .2em;
  margin-top: 1.5em;
  width: 100%;
  background-color: var(--bg);
  border-radius: .5em;
  overflow: hidden auto;
  opacity: 0;
  max-height: 20em;
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  transform: scale(.95);
  z-index: 9;
  font-weight: bold;
  box-shadow: 0 2px 4px var(--shadow);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, visibility ease-in-out 300ms;
}

.dropdown-content.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.dropdown-item {
  display: flex;
  gap: .3em;
  align-items: center;
  color: var(--text);
  padding: .8em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline-color: transparent;
  font-size: .75em;
  position: relative;
  border-radius: .5em;
  transition: transform 300ms;
}

.dropdown-item:hover {
  background-color: var(--bg-light);
  transform: translateX(2.5px);
}

.dropdown-item.selected {
  transform: translateX(2.5px);
  background-color: var(--tertiary);
  color: white;
}

.tag {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  height: 15px;
  padding: 2px 5px;
  font-size: .6em;
  align-items: center;
  font-size: .7em;
  pointer-events: none;
  border: .75px dashed var(--text-muted);
  background-color: var(--bg-dark);
  color: var(--text);
}

/* Copy button CSS */
.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text);
  font-size: 1em;
  z-index: 2;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: background-color .5s;
  margin: .3em;
  -webkit-tap-highlight-color: transparent;
  outline-color: transparent;
}

.copy-button:hover {
  background-color: var(--hover);
}

/* Input box Css */
.input-container {
  border-radius: 2em;
  padding: 15px;
  border: 1px solid var(--border);
  color: var(--text);
  background-color: var(--bg);
  box-shadow: 0 2px 2px var(--shadow);
  outline-color: transparent;
  position: relative;
}

.input-container::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: 5px;
}

/* Switch button CSS */
/* | From Uiverse.io by andrew-demchenk0 | */
.options-container {
  display: flex;
  margin: 1.3em 0;
  flex: 1;
  padding: .5em;
  text-align: center;
  gap: .5em;
  flex-direction: column;
}

.option-container {
  display: flex;
  gap: .5em;
}

.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 35px;
  height: 20px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--bg);
  box-shadow: 4px 4px var(--bg);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-light);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border: 2px solid var(--bg);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--secondary);
  box-shadow: 0 3px 0 var(--bg);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--primary);
}

.toggle:checked + .slider:before {
  transform: translateX(20px);
}

.option-name {
  color: var(--text);
}

/* Results button CSS*/
.results-button-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.results-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 2px 2px var(--shadow);
  color: white;
  font-size: 1em;
  font-weight: bold;
  outline-color: transparent;
  margin: 15px;
  cursor: pointer;
  transition: transform .3s;
}

.results-button:hover {
  transform: scale(.9);
}

/* Textarea CSS */
.results-container {
  display: none;
  margin-top: 2em;
  position: relative;
}

.results {
  position: relative;
  resize: none;
  flex: 1;
  min-height: 200px;
  padding: 15px;
  box-shadow: 0px 4px 6px var(--shadow);
  color: var(--text);
  background: linear-gradient(0deg, var(--bg), var(--bg-light));
  border: none;
  border-radius: 15px;
}

.results::placeholder {
  color: var(--text-muted);
  font-weight: bold;
  padding-left: .5em;
}