.footer-container {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  display: flex;
  flex-direction: column;
  flex: 0;
  border-radius: .8em .8em 0 0;
  color: var(--text);
  align-items: center;
  gap: 1em;
  background-color: var(--bg-light);
  padding: 1em;
}

.website-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .7em;
}

.website-header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--text);
}

.website-header h1 {
  font-size: 1.8em;
}

.legals-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.legals-container div {
  padding: .4em;
  border-radius: 50%;
  background-color: var(--bg);
}

.legals-container div div {
  padding: .15em;
  background-color: var(--text);
  border-radius: 50%;
}

.legals-container a {
  border-radius: 2em;
  background-color: var(--bg);
  padding: .3em .8em;
  color: var(--text);
  text-decoration: none;
  font-size: .8em;
}

.copyright-line {
  width: 90%;
  border: none;
  display: flex;
  border-top: 1px solid var(--text-muted);
  margin: .5em auto 0 auto;
}

.copyright {
  font-family: "Monospace" monospace;
  font-size: .8em;
  text-align: center;
}