.header-container {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 10;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: oklch(from var(--bg) l c h / 90%);
  backdrop-filter: blur(0.5em);
  border-bottom: 0.5px solid var(--border);
}

.header-name {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-direction: row;
  margin-right: auto;
  margin-left: 0.5em;
  z-index: 6;
}

.header-name i {
  display: none;
}

.header-name img {
  height: 40px;
  width: 40px;
  padding: 0.2em;
  border-radius: 50%;
  border: 1px solid var(--border);
}

.header-name h1 {
  color: var(--text);
  font-weight: bold;
  font-size: 2em;
}

.nav-bar .side-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar .side-bar ul li {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-bar .side-bar ul li a,
.nav-bar .side-bar ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  flex-direction: row;
  text-decoration: none;
  color: var(--text-muted);
  gap: 0.5em;
  cursor: pointer;
  padding: 1em 2em;
  width: 100%;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.nav-bar .side-bar ul li .active {
  background: oklch(from var(--bg-light) l c h / 50%);
  color: var(--secondary) !important;
}

.nav-bar .side-bar ul li a:hover,
.nav-bar .side-bar ul li span:hover {
  color: var(--text);
  background-color: var(--hover);
}

.nav-bar .side-bar ul li a i,
.nav-bar .side-bar ul li span i {
  font-size: 1.4em;
}

.nav-bar .side-bar ul li .sub-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  display: grid;
  visibility: hidden;
  grid-template-rows: 0fr;
  place-content: center;
  opacity: 0;
  margin-top: 1em;
  transition:
    grid-template-rows ease 0.2s,
    visibility ease 0.2s,
    transform 300ms ease-in-out,
    opacity 300ms ease-in-out;
  list-style: none;
  border-radius: 1em;
  background-color: var(--bg);
  max-height: calc(100dvh - 1em - var(--navbar-height) - 1em);
}

.nav-bar .side-bar ul li .sub-menu .active {
  border-left: 0.2em solid var(--secondary);
}

.nav-bar .side-bar ul li .toggle-button {
  margin-left: auto;
  transition: transform ease 0.3s;
}

.nav-bar .side-bar ul li .toggle-button.open {
  transform: rotate(180deg);
}

.nav-bar .side-bar ul li .sub-menu div {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 0;
}

.nav-bar .side-bar ul li .sub-menu.open {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  visibility: visible;
  grid-template-rows: 1fr;
}

.nav-bar .side-bar ul li .sub-menu a {
  cursor: pointer;
}

.nav-bar .theme-switcher {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  font-size: 0.9em !important;
  margin-left: 2em;
  text-decoration: none;
  color: var(--text);
  gap: 0.5em;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  padding: 1em 1.5em;
  transition: background-color 0.3s;
}

.nav-bar .theme-switcher:hover {
  background-color: var(--hover);
}

@media (max-width: 1000px) {
  .nav-bar .side-bar {
    padding-top: 4.5em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--bg);
    transform: translateX(-100%);
    z-index: 5;
    width: max(200px, 35%);
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
    transition:
      transform ease-in-out 0.3s,
      visibility ease-in-out 0.3s;
  }

  .nav-bar .side-bar.open {
    transform: translateX(0);
    visibility: visible;
  }

  .background-sidebar {
    position: fixed;
    inset: 0;
    visibility: hidden;
    z-index: 4;
    opacity: 0;
    background: transparent;
    background-color: black;
    transition:
      opacity ease 0.3s,
      visibility ease 0.3s;
  }

  .background-sidebar.open {
    opacity: 0.4;
    visibility: visible;
  }

  .header-name {
    margin: 0;
  }

  .header-name i {
    display: flex;
    color: var(--text);
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.3em;
  }

  .header-name i:hover {
    background-color: var(--hover);
  }

  .nav-bar .side-bar ul {
    display: grid;
    grid-template-rows: 1fr;
  }

  .nav-bar .side-bar ul li {
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav-bar .side-bar ul li a,
  .nav-bar .side-bar ul li span {
    box-sizing: border-box;
    padding: 1em 1em 1em min(3em, 7%);
    width: 100%;
    justify-content: unset;
    text-align: left;
  }

  .nav-bar .side-bar ul li .sub-menu {
    position: unset;
    top: none;
    left: none;
    transform: none;
    max-height: unset;
    margin: 0;
    opacity: unset;
  }

  .nav-bar .side-bar ul li .sub-menu div {
    padding: unset;
    overflow-y: unset;
  }

  .nav-bar .side-bar ul li .sub-menu.open {
    opacity: unset;
    transform: unset;
  }

  .nav-bar .side-bar ul li .sub-menu a {
    padding-left: 2em;
  }

  .header-name {
    padding: 0.5em;
  }

  .header-name h1 {
    font-size: 1.5em;
  }

  .nav-bar .theme-switcher {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9em;
  }
}
