.header-container {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 10;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--bg);
}

.header-name {
  display: flex;
  gap: .5em;
  align-items: center;
  flex-direction: row;
  margin-right: auto;
  margin-left: .5em;
  z-index: 6;
}

.header-name i {
  display: none;
}

.header-name img {
  height: 35px;
  width: 35px;
  background-color: var(--text);
  border-radius: 50%;
}

.header-name h1 {
  color: var(--text);
  font-weight: bold;
  font-size: 2em;
}

.nav-bar .side-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar .side-bar ul li {
  position: relative;
  display: flex;
  align-items: center;
  transition: all .5s ease;
}

.nav-bar .side-bar ul li a, .nav-bar .side-bar ul li span {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  text-decoration: none;
  color: var(--text-muted);
  gap: .5em;
  cursor: pointer;
  padding: 1em 1.5em;
  width: 100%;
  transition: all .3s;
}

.nav-bar .side-bar ul li .active {
  background-color: var(--bg-light);
  color: var(--secondary) !important;
}

.nav-bar .side-bar ul li a:hover, .nav-bar .side-bar ul li span:hover {
  color: var(--text);
  background-color: var(--hover);
}

.nav-bar .side-bar ul li a i, .nav-bar .side-bar ul li span i {
  font-size: 1.4em;
}

.nav-bar .side-bar ul li .sub-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  visibility: hidden;
  grid-template-rows: 0fr;
  place-content: center;
  transition: all ease .2s;
  list-style: none;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: var(--bg);
}

.nav-bar .side-bar ul li .sub-menu .active {
  border-left: .2em solid var(--secondary);
}

.nav-bar .side-bar ul li .toggle-button {
  margin-left: auto;
  transition: all ease .3s;
}

.nav-bar .side-bar ul li .toggle-button.open {
  transform: rotate(180deg);
}

.nav-bar .side-bar ul li .sub-menu div {
  overflow: hidden;
  padding: 1em 0;
}

.nav-bar .side-bar ul li .sub-menu.open {
  visibility: visible;
  grid-template-rows: 1fr;
}

.nav-bar .side-bar ul li .sub-menu a {
  cursor: pointer;
}

@media(max-width: 1000px) {
  .nav-bar {
    background: none;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border);
  }
  .nav-bar .side-bar {
    padding-top: 4.5em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--bg);
    transform: translateX(-100%);
    z-index: 5;
    width: max(200px, 35%);
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
    transition: all ease-in-out .3s;
  }
  
  .nav-bar .side-bar.open {
    transform: translateX(0);
    visibility: visible;
  }
  
  .background-sidebar {
    position: fixed;
    inset: 0;
    visibility: hidden;
    z-index: 4;
    opacity: 0;
    background: transparent;
    background-color: black;
    transition: all ease .3s;
  }
  
  .background-sidebar.open {
    opacity: .4;
    visibility: visible;
  }
  
  .header-name {
    margin: 0;
  }
  
  .header-name i {
    display: flex;
    color: var(--text);
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 50%;
    padding: .3em;
  }
  
  .header-name i:hover {
    background-color: var(--hover);
  }
  
  .nav-bar .side-bar ul {
    display: grid;
    grid-template-rows: 1fr;
  }
  
  .nav-bar .side-bar ul li {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .nav-bar .side-bar ul li a, .nav-bar .side-bar ul li span {
    box-sizing: border-box;
    padding: 1em 1em 1em min(3em, 7%);
    width: 100%;
  }
  
  .nav-bar .side-bar ul li .sub-menu {
    position: unset;
    top: none;
    left: none;
    transform: none;
  }
  
  .nav-bar .side-bar ul li .sub-menu div 
  {
    padding: unset;
  }
  
  .nav-bar .side-bar ul li .sub-menu a {
    padding-left: 2em;
  }
  
  .header-name {
    padding: .5em;
  }
  
  .header-name h1 {
    font-size: 1.5em;
  }
}